@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

#footer
{
	clear: both;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.form-actions .checkbox
{
	padding-top: 0;
	margin-top: 0;
	min-height: 0;
}

.form-horizontal .form-inline .form-group
{
    margin-left: 0;
    margin-right: 0;
}

.alert div.glyphicon.two-line
{
	font-size: 2.8em;
	float: left;
}

.alert div.alert-content
{
	margin-left: 3.7em;
}

.grid-view .pagination-container
{
	text-align: right;
}

.grid-view .pagination
{
	margin-top: 0;
}

.grid-view .summary
{
	text-align: left;
}

.page-header .header-controls
{
	margin-top: 20px;
}
